<app-user-header></app-user-header>

<div class="container">
    <h1>Payment Methods</h1>
    <mat-divider></mat-divider><br>
    <div class="container row ">
        <div class="col-md-3">
            <a class="text-decoration-none" href="#">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/paybKash.png" alt="" class="card-img-top">
                        <h3>payment to bKash</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="#">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/payNogad.png" alt="" class="card-img-top">
                        <h3>Payment to Nagad</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="#">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/payRokect.png" alt="" class="card-img-top">
                        <h3>Payment to Rocket</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="#">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/payDebitcard.png" alt="" class="card-img-top">
                        <h3>Payment to Debit/Credit Card</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row mt-4">
        <div class="col-md-3">
            <a class="text-decoration-none" href="#">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/payDDBL.png" alt="" class="card-img-top">
                        <h3>Payment to DDBL</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="#">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="assets/images/payCashOnDalivery.png" alt="" class="card-img-top">
                        <h3>Cash On Dalivery</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" href="#">
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src="" alt="" class="card-img-top">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="text-decoration-none" >
                <div class="card shadow" id="cat-card">
                    <div class="hoverImg">
                        <img src=" " alt="" class="card-img-top">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div><br><br><br><br>

<app-user-footer></app-user-footer>