<!-- sidebar start -->
<mat-nav-list style="height: 1100px;">
  <div class="profile-card">
    <div class="header">
      <h2>Din Islam</h2>
      <h4>dinislam2698@gmail.com</h4>
    </div>
    <img src="assets/images/dinislam2.jpg" alt="Din Islam">
  </div>
  <!-- Dashboard start -->
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
    <mat-icon>dashboard</mat-icon><b>Dashboard</b>
  </a>
  <!-- Dashboard end -->
  <!-- Home start -->
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
    <mat-icon>home</mat-icon><b>Admin Home</b>
  </a>
  <!-- Home end -->
  <mat-divider></mat-divider>
  <br>
  <!-- Tools start -->
  <h2 matSubHeader class="hformat">
    <mat-icon>build</mat-icon>Tools
  </h2>
  <!-- Tools end -->

  <!-- Product section start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>shopping_basket</mat-icon><b>Product Section</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="../admin/category">Product Category</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="../admin/addProduct">Product Information</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="../admin/addvendor">Vendor Details</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="../admin/purchase">Purchase Product Details</a>
  </mat-expansion-panel>
  <!-- Product section end -->

  <!-- Payment start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>payments</mat-icon><b>Payment Method</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/centralstock">Add Payment Option</a>
  </mat-expansion-panel>
  <!-- Payment start -->

  <!-- Delivery option start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>local_shipping</mat-icon><b>Delivery Option</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/centralstock">Add Delivery Option</a>
  </mat-expansion-panel>
  <!-- Delivery option end -->

  <!-- centralstock start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon> store_mall_directory</mat-icon><b>Central Stock</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/stock">Centarl Stock Information</a>
  </mat-expansion-panel>
  <!-- centralstock start -->

  <mat-panel-title>
    <mat-icon>discount</mat-icon><a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/addCoupon"><b>Add Coupon</b></a>
  </mat-panel-title>
  <mat-divider></mat-divider>
  
  <!-- Report start -->
  <br>
  <h2 matSubHeader>
    <mat-icon>assignment</mat-icon>Reports
  </h2>

  <!-- Order Report start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>done_all</mat-icon><b>Order Report</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/orderDetails">Order Details</a>
  </mat-expansion-panel>
  <!-- Order Report end -->

  <!-- purchase report start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>assignment_returned</mat-icon><b>Purchase Reports</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/purchasereport">All Purchae</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/datepursaereport">Date as per Purchase</a>
  </mat-expansion-panel>
  <!-- purchase report end -->

  <!-- sales report start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>shop</mat-icon><b>Sale Reports</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/allsalereport">All Sale</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/datesale">Date as per Sale</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/saleperid">Sale Per ID</a>
  </mat-expansion-panel>
  <!-- sales report start -->

  <!-- Income and Expense Report start -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_balance_wallet</mat-icon><b>Income&Expenses Report</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/centralstock">Income&Expenses Details</a>
  </mat-expansion-panel>
  <!-- Income and Expense Report end -->

  <!-- Report start -->
</mat-nav-list>
<!-- sidebar end -->